* {
    padding: 0;
    margin: 0;
}
.flex {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.container {
    width: 400px;
    background-color: white;
    outline: solid grey 2px;
    margin-left: 60px;
    margin-top: 30px;
}
.blue-bar {
    background-color: rgb(23,162,184);
    width: 400px;
    height: 50px;
    
}
.pic1 {
    width: 50px;
    position: relative;
    top: 20px;
    left: 20px;
    border: white solid 2px;
    border-radius: 50%;
    outline: grey solid 2px;
}
.whitebox {
    background-color: white;
    width: 400px;
    padding: 20px;
}
h1 {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 25px;
    font-size: 25px;

}
.seattle {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 14px;
}
.pic2 {
    width: 8px;
    margin-right: 8px;

}
.bio1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
.bio2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}
.pic3 {
    width: 8px;
}
a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 8px;
}